
.resultlable {
    display:inline-block;
    width: 20%;
   

    padding: 5px 10px;
}
.resultvalue {
    display: inline-block;
    border: 1px solid lightblue;
    border-radius: 5px;
    min-width: 150px;
    padding: 5px;
    width: 50%;

}
.resultunits {
    display: inline-block;
    width: 20%;
    padding-left: 10px;
}

.resultrow {
    max-width: 80rem;
    width: 100%;
    margin: 10px auto;
}

.result {
    display: block;
    max-width: 90rem;
    //width: 600px;
    margin: 50px  auto 50px;
}

