
$fontcolor : #333;

html {
    font-size: 62.5%;
    cursor: default;
}

body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: $s-size;
    color: $fontcolor;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 1023px) and (max-device-width: 736px) {
    body {
        font-size: $vs-size;
    }
}