//colors
$copycolor: #333;
$header-bg-color: #e5e5e5;
$resitor-color-in: wheat;
$resitor-color-out: #fecb6e;
$resitor-color: #fecb6e;
//spacing


//m-size
$vs-size: 1.2rem;
$s-size: 1.6rem;
$m-size: 2.0rem;

$l-size: 3.2rem;

$xl-size: 4.8rem;
